<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/jobScript.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/jobScript.js"></script>
  <link rel="icon" href="/image/favicon.png">
  <title>WHEEL JobScript Template Edit</title>
</head>

<body>
  <!-- Header -->
  <header>
    <a href="home" id="title">WHEEL</a>
    <span>
      <img src="/image/img_user.png" align="middle" id="iconImg">
      <span id="titleUserName">user01</span>
    </span>
  </header>
  <!-- Page Name Area -->
  <div id="pageNameArea">
    <label id="pageName">JobScript Template Editor</label>
  </div>
  <div id="view">
    <!-- Remote JobScript List Area -->
    <div id="templateListArea">
      <div>template List</div>
      <div class="listArea" id="listArea">
        <ul>
          <template v-for="(JobScript, index) in JobScriptList">
            <li v-on:click="toggleSelected(index, JobScript);" v-bind:key="JobScript.id"
              v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-bind:id="JobScript.templateName"
              class="JobScriptListInfo">
              {{ JobScript.templateName }}
            </li>
          </template>
        </ul>
        <!-- Error Message Area -->
        <div v-show="errorMessage != ''" id="errorMessage">{{errorMessage}}</div>
        <!-- Button Area -->
        <div id="buttonArea">
          <button v-on:click="onCopyButton" id="copyButton">
            <img src="/image/btn_hostCopy_n.png" id="copyButtonImg" />
            <label>Copy</label>
          </button>
          <button v-on:click="onRemoveButton" id="deleteButton">
            <img src="/image/btn_hostDelete_n.png" id="deleteButtonImg" />
            <label>Delete</label>
          </button>
        </div>
      </div>
    </div>
    <!-- Confirm Cancel Button Area -->
    <!-- New Remote JobScript Registration -->
    <div class="JobScriptRegFormAreaForHPC">
      <div id="formArea">
        <div>
          <span>
            <label id="templateName">Template Name</label>
            <input id="templateNameInputArea" class="templateName" type="text" value="" v-model.lazy.trim="newJobScriptInfo.templateName"
              placeholder="empty is not allowed." v-bind:class="{'ui-state-error': !validation.name || isDuplicate}">
            <p v-if="isDuplicate" class="dialogStateError">duplicated Template Name.</p>
          </span>
        </div>
        <div>
          <span>
            <label id="hpcCenterLabel" for="Hpc">HPC Center</label>
          </span>
          <select class="hpcCenterSelectBox" v-model="selectedHpc" v-on:change="insertHpcCenterInfo" name="hpcCenter"
            v-model.lazy.trim="newJobScriptInfo.hpcCenter" id="hpcCenterSelectArea">
            <option class="hpcCenterSelectBox" v-for="v in hpcCenterSelect">
              {{v}}</option>
          </select>
        </div>
        <template v-for="v in selectedHpcInfo" v-bind:value="v.name">
          <div v-bind:key="v.name">
            <span>
              <label>{{v.label}}</label>
            </span>
            <select v-bind:id="v.idName" class="addedComponentByVue" v-if="v.type === 'select'"
              v-on:change="filteringSelectbox(v.selectNum,v.value)" v-model="v.value">
              <option class="addedComponentByVue" v-for="select in selectboxList[v.selectNum]" v-bind:id="select">
                {{select}}
              </option>
            </select>
            <input v-bind:id="v.idName" class="addedComponentByVue" v-else-if="v.type==='number'" type="number" min="1" v-model.lazy.trim="v.value">
            <input v-bind:id="v.idName" class="addedComponentByVue" id="jobSchedulerTextBox"
              v-else-if="v.type==='text' && v.idName==='jobScheduler'" type="text"
              v-model.lazy.trim="newJobScriptInfo.jobScheduler" color="#777777" disabled>
            <input v-bind:id="v.idName" class="addedComponentByVue" v-else type="text" v-model.lazy.trim="v.value">
          </div>
        </template>
        <div>
          <span>
            <label id="other">other command</label></br>
            <label id="other2">(ex. module load ...)</label>
            <!-- <label id="other">other command</br>(ex. module load ...)</label> -->
          </span>
          <textarea id="otherInputTextArea" class="textarea" v-model.lazy.trim="newJobScriptInfo.other"></textarea>
        </div>
        <div id="dialog"></div>
      </div>
      <div id="confirmCancelButtonArea">
        <button v-on:click="onEditAreaOKButton" v-bind:disabled="hasError" id="confirmButton">Confirm</button>
        <button v-on:click="onEditAreaCancelButton" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
</body>

</html>