@charset "utf-8";

#accountTitleArea{
  /* list-style-type: none;
  margin: 0 10px 10px 10px;
  padding: 5px 5px 5px 15px; */
  position: relative;
  left:20px;
}

#accountPropertyArea
{
  position: relative;
  top: 5px;
  height: 465px;
  width: 919px;
  left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #252525;
  border: 1px solid;
}

#accountListInfo{
  background: #252525;
  border: 1px solid;
}

#accountListInfo:hover{
  background: green;
}

#html_name{
  position: relative;
  background:#252525;
  height: 30px;  
}

div .admin{
  position: absolute;
  background:#252525;
  left:10px;  
}

#fieldName{
  position: relative;
  height: 50px;
  left: 10px;
}

div .accountField{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 1.3em;  
}

#titleTable
{
  table-layout: fixed;
  width: 900px;
  word-wrap: break-word;  
}

#propertyTable
{
  table-layout: fixed;
  width: 900px;
  word-wrap: break-word;  
}

tr th
{
  text-align: left;
}

td
{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

td:hover {
  overflow: visible;
  white-space:normal;    
}

.userName,.workDir
{
 width: 200px;
}

.description
{
  width: 500px;
}

button{
  background-color: rgb(105, 175, 45);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid rgb(105, 175, 45);
  cursor: pointer;
}

button:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(105, 175, 45);
}

#buttonArea
{
  padding: 10px;
}

li:hover{
  cursor: pointer;
	background:#56676F;
}

p{
	font-size:1.3em;
	color:#EC8519;
	margin-bottom:0px;
	font-weight:bold;
}

.ui-state-error{
  font-size:1.0em;
	color:#ffffff;
	margin-bottom:5px;
	font-weight:bold;
}

input[type="text"]{
	width:300px;
}

textarea{
	padding:5px;
	font-size:1.3em;
	color:#333;
	border:1px solid #CCC;
  background:#EFEFEF;
  width:400px;
	height:100px;
}

#errorMessage
{
  position: relative;
  left: 10px;
  visibility: hidden;
}

.dialogStateError
{
  font-size:0.5em;  
	border: 1px solid #ffffff;
	background: #ffffff;
	color: red;
}
