@charset "utf-8";

body{
  margin: 0;
  padding: 0;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 15px;
  line-height: 2;
  height:100%;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

header{
	position:relative;
	padding:0;
	color:#40555F;
  background:gray;
  font-family: 'Bitter', serif; 
}

#accountTitleArea{
  padding-top: 10px;
  position: relative;
}

#accountPropertyArea{
  height: 331px;
  overflow-x: hidden;
  background-color: #3c3c3c;
}

#accountListInfo{
  background: #3c3c3c;
  border: 1px solid;
  border-color: black;
}

#accountListInfo:hover{
  background: green;
}

#pageName{
  height:30px;
  background:#252525;
}

.admin{
  position: absolute;
  background: #252525;
  left: 20px;
}

#fieldName{
  position: relative;
  height: 50px;
  left: 10px;
}

div .accountField{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 1.3em;  
}

#titleTable
{
  table-layout: fixed;
  width: 1820px;
  word-wrap: break-word;  
}

#propertyTable
{
  table-layout: fixed;
  width: 1920px;
  word-wrap: break-word;
  border-collapse: collapse;
}

tr th
{
  text-align: left;
}

td
{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

td:hover {
  overflow: visible;
  white-space:normal;    
}

.userName{
 width: 300px;
}

.workDir{
  width: 400px;
 }

.description{
  width: 1220px;
}

#buttonArea{
  background-color: #3c3c3c;
  padding-bottom: 10px;
}
.buttonAreaButton{
  background-color: rgb(105, 175, 45);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid rgb(105, 175, 45);
  cursor: pointer;
}

button:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(105, 175, 45);
}

li:hover{
  cursor: pointer;
	background:#56676F;
}

#accountRegistration{
  height: 30px;  
  background-color: #252525;  
  padding-left: 10px;
}

.ui-state-error{
  font-size:1.0em;
	color:#ffffff;
	margin-bottom:5px;
	font-weight:bold;
}

.editArea{
  width:400px;
  background-color: #252525;
  color: white;
}

.fieldLabel{
  display: inline-block;
  width: 120px;
}

textarea{
	padding:5px;
	font-size:1.3em;
	color:#333;
	border:1px solid #CCC;
  background:#EFEFEF;
  width:400px;
	height:100px;
}

#testareafieldLabel{
  padding-left : 123px;
}

#errorMessage
{
  position: relative;
  left: 10px;
  visibility: hidden;
}

.dialogStateError
{
  font-size:0.5em;  
  background: #3c3c3c;
  color: red;
  width: 300px;
}

.editAreaButton{
  background-color: #add8e6;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid #add8e6;
  cursor: pointer;
}

.drawer_button{
	position:absolute;
	right:25px;
	top:10px;
	cursor: pointer;
}

.drawer_button img{
	width:20px;
}

.drawer_button:focus{
	outline:none;
}

.drawer_menu {
    width:180px;
    height:100%;
    -webkit-transform:translateX(180px);    
    transform:translateX(180px);
    transition:ease .5s;
    position:fixed;
    top:0;
    right:0;
    z-index:90;
}

.drawer_menu.action {
    width:180px;
    background:darkslateblue;
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.drawer_menu_item {
    color: white;
}

/* style.css*/


.title{
  padding:10px;
  color: #e0e0e0;
  font-size: 25px;
  text-decoration: none;
}

/*名前の長さに注意する必要有*/
.title_username{
position:absolute;
right:80px;
  top:10px;
}

.title_button{
position:absolute;
right:25px;
top:10px;
background-color:transparent;
border:none;
cursor: pointer;
width:35px;
height:35px;
}

.title_button img{
width:100%;
}

.title_button:focus{
outline:none;
}

footer{
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}