#dialog{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
  }

.ui-icon {
    background-image: url(/image/ui-icons_777777_256x240.png) !important;
  }
  
.ui-dialog {
    z-index: 200;
    background-color: #222226;
    border: none !important;
  }
  
.ui-dialog-titlebar{
    background-color: #222226;    
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: initial;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    border: 0;
  }

.ui-button{
    background-color: #5B5B5F;
    border-color: #5B5B5F;
    color: #ffffff;
    border-radius: 0;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    width: 72px;
  }

.ui-button.notUseButton{
    display: none;  
  }

.ui-dialog-buttonpane{
    background-color: #222226;
    border: none;
  }