@charset "utf-8";

#fileControllArea{
  padding-top: 10px;
}

.fileControllButton{
  background-color: rgb(105, 175, 45);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid rgb(105, 175, 45);
  cursor: pointer;
}

button:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(105, 175, 45);
}

#projectName{
  padding-left:10px; 
  color:  #ffffff;
}

#projectDescription{
  padding-left:200px;   
  color:  #ffffff;
}

#projectList{
  width: 100%;
  list-style-type: none;
}

#projectList ul{
  cursor: move;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: #1f1f1f;
  color: #FFFFFF;
  border: 0.1px solid #1f1f1f;
  border-bottom: 0.1px solid #3e3e3e;
  display: inline-flex;
}

#projectList ul:hover{
  text-decoration: none;
  background: #1f1f1f;
  border: 0.1px solid rgb(105, 175, 45);
}

.projectName{
  padding-left: 10px;  
  width: 300px;
  text-align: left;
}

.projectDescription{
  padding-left: 10px;
  width: 500px;
  text-align: left;  
}

#newProjectName{
  width: 650px;
}

#fileList{
  font-size: 14px;
  overflow: auto;
  height: 930px;
}

/* Home画面 */
#html_name{
  position: relative;
  background:#252525;
  height: 30px;  
}

.home{
  position: absolute;
  background:#252525;
  left:20px;  
}

#fieldName{
  position: relative;
  height: 30px;
}

.projectField{
  font-size: 1.3em;  
}

.drawer_button{
	position:absolute;
	right:25px;
	top:10px;
	cursor: pointer;
}

.drawer_button img{
	width:20px;
}

.drawer_button:focus{
	outline:none;
}

.drawer_menu {
    width:180px;
    height:100%;
    -webkit-transform:translateX(180px);    
    transform:translateX(180px);
    transition:ease .5s;
    position:fixed;
    top:0;
    right:0;
    z-index:90;
}

.drawer_menu.action {
    width:180px;
    background:darkslateblue;
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.drawer_menu_item {
    color: white;
}