@charset "utf-8";

body{
  margin: 0;
  padding: 0;
  background-color: #2F2F33;
  color: #ffffff;
  font-size: 14px;
  height:100%;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}


/* header 部分*/
header {
  position:relative;
  padding: 12px 0 12px 16px;
  background:#000000;
  font-size: 24px;    
  text-decoration: none;
  height: 24px;
}

#title {
  color: #FFFFFF;    
  text-decoration: none;
  position: absolute;
  top: 8px;
}

#titleUser{
  display: inline-flex；
}

.title_username{
  position:absolute;
  right:80px;
    top:10px;
  }

  
#titleUserName{
	position: absolute;
	right: 88px;
    color: FFFFFF;
    font-size: 14px;
    padding-top: 2px;
}

#img_user{
  position: absolute;
  margin: 0px;
  width: 24px;
  height: 24px;
}

.icon {
    height: 30px;
}

#pageNameArea{
  background: #222226;
  padding-left: 16px;
  height: 30px;
}

#pageName{
  position: relative;
  top: 4px;
}
/**/

/* list Area */

#hostListArea{
  margin: 24px 16px 0 16px;
  padding: 0px;
  overflow: auto;
}

#hostTitleArea
{
  padding: 0px;
}

#hostListInfo{
  background: #2f2f33;
  border: 1px solid;
  border-color: black;
}

#hostListInfo:hover{
  /* background: #CCFF00;
  opacity: 0.1; */
  background: green;
  
}

.authTypeLabel{
  padding: 0;
  margin: 0;
}

#buttonArea{
  padding-bottom: 10px;
}
.buttonAreaButton{
  background-color: rgb(105, 175, 45);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid rgb(105, 175, 45);
  cursor: pointer;
}

.editAreaButton{
  background-color: #add8e6;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Bitter', serif;
  width:100px;
  border-radius: 3px; 
  border: 3px solid #add8e6;
  cursor: pointer;
}

button:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: rgb(105, 175, 45);
}

div .remotehost{
  position: absolute;
  background:#252525;
  left:10px;  
}

#fieldName{
  position: relative;
  height: 50px;
  left: 10px;
}

div .HostField{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 1.3em;  
}

#titleTable
{
  table-layout: fixed;
  width: 1820px;
  word-wrap: break-word;  
}


tr th
{
  text-align: left;
}

td
{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

td:hover {
  overflow: visible;
  white-space:normal;    
}

#hostPropertyArea{
  height: 331px;
  overflow-x: hidden;
  background-color: #2F2F33;
}

#propertyTable
{
  table-layout: fixed;
  width: 1920px;
  word-wrap: break-word;
  border-collapse: collapse;
}



#hostRegistration{
  height: 30px;  
  background-color: #222226;  
  padding-left: 10px;
}


#newHostDialog{
  display: inline-flex;
  padding-left: 10px;
  padding-top: 10px;
}

.ui-state-error{
  font-size:1.0em;
	color:#ffffff;
	margin-bottom:5px;
	font-weight:bold;
}

.dialogStateError
{
  font-size:0.5em;  
  background: #2F2F33;
  color: red;
  width: 300px;
}

#errorMessage
{
  position: relative;
  left: 10px;
  visibility: hidden;
}

.fieldLabel{
  display: inline-block;
  width: 140px;
}

.editArea{
  width:300px;
  background-color: #252525;
  color: #CCC  
}

#rightEditArea div{
  padding-left: 20px;
  padding-bottom: 30px;
}

.port{
  width: 100px;
}

.authType{
  width: 100px;
}

.jobSubmissionLimit{
  width: 100px;
}