@charset "utf-8";

body{
  margin: 0;
  padding: 0;
  background-color: #2F2F33;
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;  
  color: #ffffff;
  font-size: 14px;
  height:100%;
  width:100%;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

/* header */
header {
  position:relative;
  padding: 12px 0 12px 16px;
  background:#000000;
  font-size: 24px;    
  text-decoration: none;
  height: 24px;
}

#title {
  color: #ffffff;  
  text-decoration: none;
  position: absolute;
  top: 8px;
}

#titleUserName{
	position: absolute;
	right: 88px;
  font-size: 14px;
  padding-top: 2px;
}

#iconImg{
  position: absolute;
  margin: 0px;
  width: 24px;
  height: 24px;
}

#pageNameArea{
  background: #222226;
  padding-left: 16px;
  height: 32px;
}

#pageName{
  position: relative;
  top: 5px;
}
/**/

/* Remote Host List Area */
#hostListArea{
  margin: 24px 16px 0 16px;
  padding: 0px;
}

.hostListAreaForHpc{
  margin: 24px 16px 0 16px;
  padding: 0px;
  display: block;
}

.hostListAreaForCloud{
  margin: 24px 16px 0 16px;
  padding: 0px;
  display: none;
}

#hostTitleAreaForHPC, #hostTitleAreaForCloud{
  padding: 0 0 4px 0;
  border: solid 1px #2F2F33;
  border-bottom-color: #222226;
  left: 0;
  top: 80px;
  overflow-x: hidden; 
}

#titleTable{
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  border-collapse: collapse;  
}

.label{
  padding: 0 16px 0 0;
  border: 0;
  width: 200px;
}

.connectionCheck{
  padding: 0 36px 0 0;
  border: 0;  
  width: 132px;
}

.hostName{
  padding: 0 36px 0 0;
  border: 0;  
  width: 102px;
}

.port{
  padding: 0 36px 0 0;
  border: 0;  
  width: 60px;
}

.userID{
  padding: 0 36px 0 0;
  border: 0;    
  width: 121px;
}

.hostWorkDir{
  padding: 0 36px 0 0;
  border: 0;    
  width: 200px;
}

.authType{
  padding: 0 36px 0 0;
  border: 0;    
  width: 76px;
}

.authTypeLabel{
  margin: 7px 0 7px 0; 
}

.authPath{
  padding: 0 36px 0 0;
  border: 0;    
  width: 200px;
}

.cloudServiceProvider{
  padding: 0 36px 0 0;
  border: 0;
  width: 200px;
} 

.cloudOS, .region,
.numNodes, .instanceType{
  padding: 0 36px 0 0;
  border: 0;
  width: 150px;
}

.jobScheduler{
  padding: 0 36px 0 0;
  border: 0;    
  width: 140px;
}

.jobSubmissionLimit{
  padding: 0 36px 0 0;
  border: 0;    
  width: 61px;
}

.queue{
  padding: 0; 
  border: 0;    
  width: 154px;
}


#hostPropertyAreaForHPC, #hostPropertyAreaForCloud{
  height: 201px;
  background-color: #2F2F33;
  overflow-x: auto;
}

#propertyTable{
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  border-collapse: collapse;
}

.hostListInfo{
  border: 1px solid #2F2F33;
  border-bottom-color: #222226;
  height: 40px;
}

.hostListInfo:hover{
  background-color: rgba(204, 255, 0, 0.1);
}

.ui-state-highlight{
  background-color: #88BB00;
}

/* Error Message Area */
#errorMessage{
  position: relative;
  color:red;
  padding-left: 8px;
  padding-top: 8px;
  visibility: hidden;
}

/* buttonArea */
#buttonArea, #changeRegistrationContentsButtonArea{
  padding: 12px 0 8px 16px;
}

#buttonArea button{
  background-color: #5B5B5F;
  color: #ffffff;
  font-size: 14px;
  width: 96px;
  height: 24px;
  border: 1px solid #000000;
  cursor: pointer;
}

#hpcContentsButton{
  background-color: #5B5B5F;
  color: #ffffff;
  font-size: 14px;
  width: 96px;
  height: 24px;
  border: 1px solid #88BB00;
  cursor: pointer;
}

#cloudContentsButton{
  background-color: #5B5B5F;
  color: #ffffff;
  font-size: 14px;
  width: 96px;
  height: 24px;
  border: 1px solid #5B5B5F;
  cursor: pointer;
}

#buttonArea label{
  position: relative;
  left: -8px;
  top: -2px;
}

#newButtonImg{
  position: relative;
  left: -14px;
  top: 1px;
}

#copyButtonImg{
  position: relative;
  left: -11px;
  top: 1px;
}

#deleteButtonImg{
  position: relative;
  left: -7px;
  top: 1px;
}

.connectionCheckButton, #browseButton{
  background-color: #5B5B5F;
  color: #ffffff;
  font-size: 14px;
  width: 64px;
  height: 24px;
  border: 0;
  cursor: pointer;
}

#browseButton:hover, #cancelButton:hover{
  text-decoration: none;
  background-color: #6F6F77;
  color: #ffffff;
}

button:hover{
  text-decoration: none;
  background-color: #6F6F77;
  color: #ffffff;
}

div .remotehost{
  position: absolute;
  background:#252525;
  left:10px;  
}

div .HostField{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 1.3em;  
}

tr th{
  font-weight: initial;
  text-align: left;
}

td{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

td:hover {
  overflow: visible;
  white-space:normal;    
}

/* Host Registration Title */
input::-webkit-input-placeholder {
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif; 
  font-size: 14px;
}

#hostRegTitleArea{
  height: 32px;  
  background-color: #222226;  
  padding-left: 16px;
}

#hostRegTitleLabel{
  position: relative;
  top: 5px;
}

/* New Remote Host Registration  */
.hostRegFormAreaForHPC{
  display: inline-flex;
  padding: 12px 0 0 16px;
}

.hostRegFormAreaForCloud{
  display: inline-flex;
  padding: 12px 0 0 16px;
  display: none;
}

.hostRegFormAreaForHPC label{
  display: inline-block;
  width: 140px;
}

.hostRegFormAreaForCloud label{
  display: inline-block;
  width: 140px;
  vertical-align: middle;
}

#radioButtonArea label{
  width: 100px;
}

.hostRegFormAreaForHPC input:not([type="radio"]){
  width: 300px;
  height: 24px;
  padding: 0 0 0 8px;
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #000000;
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif; 
}

.hostRegFormAreaForCloud input:not([type="checkbox"]){
  width: 300px;
  height: 24px;
  padding: 0 0 0 8px;
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #000000;
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif; 
}

.hostRegFormAreaForCloud textarea{
  width: 300px;
  height: 55px;
  padding: 0 0 0 8px;
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #000000;
  vertical-align: middle;
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif; 
}

#leftFormArea div{
  padding: 0 0 16px 0;
}

#centerFormArea div{
 padding: 0 0 16px 96px;
}

#rightFormArea div{
  padding: 0 0 16px 96px;
}

#cloudMpi, #cloudCompiler, #cloudPlaybook, 
#cloudAdditionalParams, #cloudAdditionalParamsForHead{
  width: 200px;
}

.ui-state-error{
  font-size:1.0em;
	color:#ffffff;
}

.decoupleError{
  font-size:0.5em;  
  background: #2F2F33;
  color: red;
  width: 300px;
}

/* keyFile Browse Dialog */
li {
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

li:hover{
  overflow: visible;
  white-space: normal;
}

#fileList {
  font-size: 14px;
  margin: 0;
  padding-left: 8px;
}

.filebrowseList {
  vertical-align: middle;
  margin: 1px;
}

/* Confirm Cancel Button Area */
#confirmCancelButtonArea{
  padding: 12px 0 60px 0;
}

#confirmCancelButtonArea button{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  width: 128px;
  height: 48px;
  border: 0;
  cursor: pointer;
}

#confirmButton{
  background-color: #555588;
  position: absolute;
  left: 168px;
}

#confirmButton:hover{
  text-decoration: none;
  background-color: #606099;
  color: #ffffff;
}

#cancelButton{
  background-color: #5B5B5F;
  position: absolute;
  left: 16px;
}

/*delete host, SSH connection, fileBrowse dialog*/
#dialog{
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
  color: #FFFFFF;
}

#sshConnectionLabel, #deleteHostLabel{
  font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
  font-weight: initial;
  color: #FFFFFF;  
  font-size: 14px;
  margin: 0px 4px 4px 0px;
}

/*ssh connection check dialog*/
#password{
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  width: 300px;
  margin-top: 4px;
  height: 20px;
  padding-left: 5px;
}
