html,
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    width: 100%;
}

li {
  list-style: none;
}

/* ヘッダー*/
header {
    margin-top: 12px;
    margin-left: 16px;
	position:relative;
	padding: 0;
    background:#000000;
    font-size: 24px;    
    text-decoration: none;
    height: 24px;
}

#title {
    color: #FFFFFF;    
    text-decoration: none;
    position: absolute;
    top: -4px;
}

#titleUser{
    display: inline-flex；
}

#img_user{
    position: absolute;
    margin: 0px;
    width: 24px;
    height: 24px;
}

#titleUserName{
	position: absolute;
	right: 88px;
    color: FFFFFF;
    font-size: 14px;
    padding-top: 2px;
}

#drawer_button{
    position:absolute;
	right:16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
}

#img_btn_menu_n{
    right:16px;
    
}

.btn_menu_n:focus{
	outline:none;
}

.drawer_menu {
    width:192px;
    height:100%;
    -webkit-transform:translateX(192px);    
    transform:translateX(192px);
    transition:ease .5s;
    position:fixed;
    top:0;
    right:0;
    z-index:90;
}

.drawer_menu.action {
    width:192px;
    background:#4C4C55;
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.drawer_menu_item {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#drawerMenuContents{
    margin: 0;
}

#drawerMenuList{
    padding: 0;
    margin: 8px 8px 8px 16px;
}

#drawerMenuList li{
    padding: 0;
    margin: 0 0 8px 8px;
}

#menuTitle{
    padding: 16px 8px 8px 16px;
    margin: 0;
    font-size: 18px;
    border: 1px solid #4C4C55;
    border-bottom-color: #2F2F33;
}
/* ヘッダー部分末尾 */

/* コントローラバー*/
.controler_bar_area {
    display: inline-flex;
    flex-direction: row;
    padding: 10px 0 0 16px;
    font-size: 14px;
    text-align: center;
    height: 24px;
}

#project_name{
    text-align: left;
    margin: 0 10px 0 8px;
    width:188px;
}

#project_state{
    margin: 0 0 0 0;    
    width: 100px;
    border-radius: 12px;
    border: solid 1px green;
}

.controler_button{
    margin: 0 0 0 8px;
}

.img_btn_contoroler{
    height: 24px;
    width: 24px;
    margin: 0 0 0 8px;    
}

.date_title {
    margin: 0 0 0 24px;
}

.date_time {
    margin: 0 0 0 8px;
}

#save_button{
    display: inline-flex;
    margin: 0 0 0 8px;    
}

#revert_button{
    display: inline-flex;    
    margin: 0 4px 0 8px;    
}

.figure_caption {
    margin-left: 8px;
}


.controler_bar_right_area {
    text-align: center;
    display: flex;
    padding-top: 2px;
    position: absolute;
    right: 16px;
}

#img_project{
    height: 24px;
}

/*ビューコントローラー*/
#view_controler_area{
    padding: 5px 0 0 16px;
    background-color: #222226;
}

.btn_view_change{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0;
    background-color: #222226;
}

#breadcrumb{
    position: absolute;
    margin-left: 176px;;
}

.breadcrumbButton{
    height: 24px;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;        
}

.img_breadcrumbButton_icon{
    height: 24px;
    width: 24px;
}

.img_pankuzuArrow_icon{
    margin: 0 16px 0 16px;
    position: relative;
    top: -4px;
}

.breadcrunbName{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;    
    top: -8px;
}

#img_pankuzuArrow{
    margin: 0;
}
/*ビューコントローラー末尾*/


/* タスクライブラリー*/
#taskLibraryButtonArea{
    position: absolute;
    z-index: 40;
}

#taskLibraryButton{
    position: absolute;
    height: 48px;
    margin-top: 6px;
    left: 0;
    z-index: 40;
    /* background-color:#222226; */
    background-color:#4C4C55;
    color: white;
    border: 0;
	cursor: pointer;
    border-collapse: collapse; 
}

#taskLibraryButton img{
    width: 10px;
}
    
#taskLibraryMenu{
    position: absolute;
    margin-top: 6px;
    height: calc(100% - 106px);
    background-color: #222226;
    display: none;
    z-index: 40;    
    border-collapse: collapse;
}

#taskAreaTitle{
    font-size: 18px;
    margin: 16px 0 0 16px;
}

#img_workflow{
    border-radius: 2px;    
    background-color: #803DB3;
    height: 32px;
    width: 32px;
}

#img_task{
    border-radius: 2px;    
    background-color: #3B55B3;
    height: 32px;
    width: 32px;
}

#img_parameterStudy{
    border-radius: 2px;    
    background-color: #666622;
    height: 32px;
    width: 32px;
}

#img_if{
    border-radius: 2px;    
    background-color: #5B5B5F;
    height: 32px;
    width: 32px;
}

#img_for{
    border-radius: 2px;    
    background-color: #247780;
    height: 32px;
    width: 32px;
}

#img_while{
    border-radius: 2px;    
    background-color: #247780;
    height: 32px;
    width: 32px;
}

#img_foreach{
    border-radius: 2px;    
    background-color: #247780;
    height: 32px;
    width: 32px;
}

.img_workflow_p{
    border-radius: 2px;    
    background-color: #803DB3;
    height: 24px;
    width: 24px;
}

.img_task_p{
    border-radius: 2px;    
    background-color: #3B55B3 !important;
    height: 24px;
    width: 24px;
}

.img_parameterStudy_p{
    border-radius: 2px;    
    background-color: #666622;
    height: 24px;
    width: 24px;
}

.img_if_p{
    border-radius: 2px;    
    background-color: #5B5B5F;
    height: 24px;
    width: 24px;
}

.img_for_p{
    border-radius: 2px;    
    background-color: #247780;
    height: 24px;
    width: 24px;
}

.img_while_p{
    border-radius: 2px;    
    background-color: #247780;
    height: 24px;
    width: 24px;
}

.img_foreach_p{
    border-radius: 2px;    
    background-color: #247780;
    height: 24px;
    width: 24px;
}

#workflowComponents{
    margin: 16px 16px 0 16px;
}

#workflowComponents .type{
    padding-left: 0px;
    height: 32px;
}

#workflowComponents .type li{
    display: inline-flex;
}

#workflowComponents .type:hover{
    background-color: green;
}

#img_workflow_name, #img_task_name, #img_parameterStudy_name,
#img_if_name, #img_for_name, #img_while_name,
#img_foreach_name{
    font-size: 14px;
    position: absolute;
    margin: 6px 0 0 8px;
}
/* タスクライブラリー末尾*/

/* プロパティ*/
#propertyButtonArea{
    position: absolute;
    z-index: 40;
}

#propertyButton{
    position: absolute;
    right: 0;
    height: 48px;
    margin-top: 6px;
    z-index: 40;
    background-color:#222226;
    color: white;
    border: 0;
	cursor: pointer;
    border-collapse: collapse; 
}

#property {
    position: relative;
    overflow: auto;
    margin-top: 6px;
    background-color: #222226;
    height: 99%;
    display: none;
    z-index: 40;
    border-collapse: collapse;
}

#propertyTitle{
    font-size: 18px;
    margin: 16px 0 0 16px;
}

#propertyComponents{
    margin: 8px 16px 0 16px;
}

#img_node_type{
    height: 32px;
    width: 32px;
}

#propertyType{
    display: inline-flex;
}

#propertyTypeName{
    margin: 5px 0 0 8px;
}

#propertyName{
    margin: 0;
}

#propertyDescription{
    margin: 8px 0 0 0;
    display: inline-block;
}

#propertyInputFiles, #propertyScript{
    margin: 2px 0 0 0;
    display: inline-block;    
}

#propertyOutputFiles, #propertyParameterSettingFile, #propertyCondition,
#propertyIndexList, #propertyStart, #propertyEnd, #propertyStep,
#propertyRemotehost, #propertyQueue, #propertyuseJobScheduler{
    margin: 8px 0 0 0;
    display: inline-block;    
}

#nameInputField, .newInputFileNameInputField, .newOutputFileNameInputField,
.newOutputFileNameInputField, #parameterFileInputField, #conditionInputField, 
.newIndexListField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;    
}

#scriptInputField{
    margin: 2px 0 6px 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;    
}

#includeInputField, #excludeInputField{
    margin: 2px 0 0 16px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;    
}

#remotehostSelectField, #queueSelectField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 198px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;    
}

#checkbox{
    padding: 0px;    
}

#useJobSchedulerFlagField{
    margin: 0 0 0 8px;
}

#descriptionInputField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 72px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
}

#startInputField, #endInputField{
    margin: 2px 0 0 2px;
    padding-left: 5px;
    height: 15px;
    width: 73px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
}

#stepInputField{
    margin: 2px 0 0 5px;
    padding-left: 5px;
    height: 15px;
    width: 73px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
}

.inputAddDelButton{
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 2px 0 0 5px;
    padding: 0px;
    border: 1px solid #5B5B5F;
    background-color: #5B5B5F;
}

.outputAddDelButton{
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 2px 0 0 5px;
    padding: 0px;
    border: 1px solid #5B5B5F;
    background-color: #5B5B5F;
}

.indexListButton{
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 2px 0 0 5px;
    padding: 0px;
    border: 1px solid #5B5B5F;
    background-color: #5B5B5F;
}

#remoteFileTransferSetthing{
    padding: 8px 16px 0 16px;
    margin-top: 8px;
    border-top: solid 1px #000000; 
}

#propertyCleanUpFlag, #propertyInclude, #propertyExclude{
    margin: 8px 0 0 8px;
    display: inline-block;    
}

#flags{
    margin: 2px 16px 0 16px;
}

#checkbox{
    margin: 0;
}

.property_text {
    width: calc(100% - 12px);
}

.property div {
    /* color: rgb(105, 175, 45); */
    align-items: center;
}

#filesEdit{
    padding: 8px 16px 0 16px;
    margin-top: 8px;
    border-top: solid 1px #000000;
}

.createFileDirButton{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 0 0 8px;
    padding: 0px;
    border: 0;
    background-color: #222226;
}

#fileEditButton{
    margin: 8px 0 0 124px;
}

#startInputField, #endInputField, #stepInputField
{
    width: 75px;
}

#fileList{
  margin: auto;
  padding-left: 10px;
  font-size: 12px;
}

#path{
    margin: auto;
    color: orange;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    word-wrap: break-word;
    font-size: 12px; 
}

#componentPath{
    margin: 2px 0 4px 0;
    height: 20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    word-wrap: break-word;
    font-size: 12px; 
    background-color: #000000;
}

#componentPath:hover {
    overflow: visible;
    white-space:normal;
}

#fileSelector{
    display: none;
}

#fileList li:hover{
    background-color: gray;
}
/* プロパティ末尾*/


.subtitle {
    color: rgb(240, 240, 240);
    padding: 10px 0 0 20px;
    font-size: 120%;
    font-weight: bold;
    height: 40px;
}



.view_controler_right_area {
    position: relative;
    right: 48px;
    flex-direction: row;
    font-size: 90%;
    text-align: right;
}

.address_bar_area {
    display: flex;
    flex-direction: row;
    color: rgb(240, 240, 240);
    width: 95%;
    margin: 5px auto;
    font-size: 90%;
    align-content: center;
}

.address_bar_area span {
    width: 100px;
    padding: 5px 5px;
}

.text_container {
    display: flex;
    flex-direction: row;
    color: rgb(240, 240, 240);
    width: 100%;
    padding: 5px;
    align-items: center;
    width: 300px;
    position: relative;
    padding: 10px 0;
}

.text_label {
    width: 60px;
}

.host_container {
    display: inline-block;
    vertical-align: middle;
}

.auth_type_area {
    width: 600px;
    margin: auto;
    height: 90px;
}

.auth_type_radio_container {
    width: 400px;
    vertical-align: middle;
}

.auth_type_area div {
    float: left;
    padding: 0 10px 10px 0;
}

.text_box {
    border: 0;
    padding: 3px;
    color: rgb(240, 240, 240);
    border: solid 1px #111;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1) inset;
    background-color: rgb(60, 60, 55);
}

.remotehost_text,
.address_bar {
    margin: 0 0 0 5px;
    width: 100%;
}
#address_bar {
 background-color: rgb(70, 70, 65);
}
.dialog_text_box {
    width: 100%;
}

.sub_content_area,
.file_dialog {
    color: rgb(240, 240, 240);
    border: solid 1px #111;
    background-color: rgb(70, 70, 65);
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    height: calc(100% - 360px);
    width: 98%;
    margin: auto;
    overflow: auto;
    font-size: 90%;
    user-select: none;
}

.text_area {
    color: rgb(240, 240, 240);
    min-width: 95%;
    min-height: calc(100% - 160px);
    resize: none;
    border: solid 1px #111;
    background-color: rgb(70, 70, 65);
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    background-image: linear-gradient(rgb(60, 60, 55) 50%, transparent 50%, transparent);
    background-size: 40px 40px;
    line-height: 20px;
    font-size: 16px;
    margin-left: 2.4%;
    align-items: center;
    vertical-align: middle;
    position: relative;
}

.file_dialog {
    height: calc(100% - 115px);
}

.register_list_area {
    height: calc(100% - 300px);
    width: 700px;
    min-height: 100px;
}

.select_workflow_area {
    height: calc(100% - 160px);
}

.project_manage_area {
    display: flex;
    flex-direction: row;
    position: relative;
}
#project_table_container{
  width: 40%;
}
.workflow_manage_area {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #2F2F33;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    height: calc(100% - 100px);    
    overflow: auto;
    font-size: 14px;
    user-select: none;
}
#workflow_name_container{
  width: 180px;
}
#workflow_name{
  width: 165px;
}
#workflow_desc{
 width: calc(100% - 10px);
}
.buttons_container{
  width: 90px;
}
.register_host_area {
    height: calc(100% - 120px);
    text-align: center;
}

.select_dir_container,
.select_file_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0);
    margin: 0 5px;
}

.selected_workflow {
    width: 95%;
    margin: 5px auto;
}

/* .icon {
    cursor: pointer;
} */

.file_icon,
.dir_icon,
.icon {
    height: 30px;
}

.project_icon {
    height: 20px;
    margin: 0 3px;
}

/* table {
    margin: auto;
    width: 100%;
    font-size: 90%;
    vertical-align: middle;
    height: 35px;
}
 
th {
    color: rgb(105, 175, 45);
    text-align: left;
}

td {
    color: rgb(240, 240, 240);
}*/

.button,
.dialog_button {
    width: 90px;
    height: 25px;
    box-shadow: 1px -1px 0px 0px rgba(105, 175, 45, 0.1);
    border: solid 1px;
    cursor: pointer;
    margin: auto;
    background-color: rgb(105, 175, 45);
    color: black;
}

.disable_button {
    cursor: auto;
}

.button:hover {
    background-color: rgb(125, 195, 65);
}

.button:active {
    background-color: rgb(105, 175, 45);
}

.button:disabled {
    background-color: rgb(105, 175, 45);
    opacity: 0.6;
    cursor: default;
}

.ok_test_button,
.ok_test_button:disabled {
    background-color: rgb(20, 105, 250);
    color: black;
    cursor: auto;
}

.ng_test_button {
    background-color: rgb(230, 55, 20);
}

.ng_test_button:hover {
    background-color: rgb(250, 75, 40);
}

.hostlabel {
    padding-left: 10px;
    text-align: left;
    width: 600px;
}

.gray_panel {
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 50;
}

.dialog_area {
    width: 1000px;
    position: fixed;
    border: solid 1px #111;
    background-color: rgb(70, 70, 65);
    box-shadow: 0px 0px 1px 1px rgba(250, 250, 250, 0.1);
    margin: auto;
    height: calc(100% - 120px);
    top: 60px;
    left: calc(50% - 500px);
    z-index: 100;
    display: none;
    padding: 10px;
}

.dialog_title {
    color: rgb(240, 240, 240);
    font-size: larger;
    padding-left: 20px;
}

.text_dialog_area {
    width: 600px;
    height: 140px;
    top: calc(50% - 70px);
    left: calc(50% - 300px);
}

.yesno_dialog_area {
    width: 500px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 250px);
}

.dialog_button_container {
    float: right;
    margin-right: 25px;
}

.workflow_tree_svg {
    height: 100%;
    width: 180px;
    border-right: solid 1px #111;
    box-shadow: -1px 0 0 0 rgba(250, 250, 250, 0.1) inset;
    float: left;
}

.node_svg {
    float: right;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/*プロパティ末尾*/
#displayLogButton {
	bottom:0px;
    position:absolute;
    margin: 0 50% 0 50%;
    height: 20px;
    width: 48px;
    /* background-color: rgba(28,28,32,0.75); */
    background-color: #4C4C55;
    border: 0;
}

.displayLogButton.display {
    -webkit-transform:translateY(-320px);
    transform:translateY(-320px);
}

#img_displayLogButton{
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0px;
    left: 16px;
    top: 1px;
    /*border: 1px solid #5B5B5F;
    background-color: #5B5B5F; */
}

.text_readonly {
    color: rgb(240, 240, 240);
    background-color: rgb(70, 70, 65);
    opacity: 0.6;
}

.line {
    border-bottom: 1px solid rgba(40, 40, 40, 1);
    box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1);
    margin: 3px 0;
}
.pure-pusher{
    background-color: rgb(47, 47, 42);
}



.logArea {
    display: none;
    background-color: rgba(28,28,32,0.75);
    bottom:0;
    color: rgb(240, 240, 240);
	position:absolute;
    width: 100%;
    height: 320px;
    z-index: 80;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;        
}

#logButtonArea{
    padding: 8px 0 0 16px;
    border: solid 1px rgba(28,28,32,0.75);
    border-bottom-color: #6F6F77;
}

.logButton{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;        
    background-color: rgba(28,28,32,0.0);
    font-size: 14px;
    padding: 0 20px 0 20px;
    border: solid 2px rgba(28,28,32,0.0);
    color: #FFFFFF;
    cursor: pointer;
    width: 120px;
}

.logButton:hover{
    border-bottom-color:#CCFF00 !important;    
}

.logText{
    font-size: 12px;
    color: #FFFFFF;
    height: 250px;
    overflow: auto;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    margin: 12px 0 0 12px;
    display: none;        
}

#clear_log{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;        
    background-color: #5B5B5F;
    font-size: 14px;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 120px;
}

#buttonPartition{
    padding-left: 16px;
}

#project_table{
    margin :0;
    position: absolute;
}
  
#project_manage_area{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #2F2F33;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    height: calc(100% - 100px);
    width: 100%;
    border: none;
    overflow: auto;
    font-size: 14px;
    user-select: none;
    margin: 0;
}

#tableBody{
    margin: 0px;
}

#project_tree_svg{
    margin: 24px 16px 16px 16px;
    height: calc(100% - 40px);
    width: 100%;
}

#project_table_head{
    margin: 0 0 4px 0;
    text-align: left;
}

#project_table_tr{
    margin: 0 0 4px 0;
    text-align: left;
    
}

#project_table_tr th{
    padding: 0 0 4px 0;
    border: solid 1px #2F2F33;
    border-bottom-color: #222226;
    text-align: left;
    font-weight: inherit;
    padding-right:41px; 
}


.componentName{
    display: inline-block;
    width: 224px;
    border-radius: 3px;
}

.componentState{
    display: inline-block;    
    padding-right: 44px;
    padding-left: 38px;
    width: 90px;
}

.componentStartTime{
    display: inline-block;        
    padding: 9px 44px 10px 0px;
        width: 150px;    
}

.componentEndTime{
    display: inline-block;        
    padding: 9px 44px 10px 0px;
    width: 150px;    
}

.componentDescription{
    display: inline-block;            
    padding: 9px 44px 10px 0px;
    width: 256px;
}

.nameLabel{
    display: inline-flex;
    position: relative;
    top: -9px;
}

.stateLabel{
    display: inline-flex;
    position: relative;
    top: -9px;
    padding-left: 4px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}

progress {
    border: solid 1px #111;
    box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1);
    background-color: rgb(70, 70, 65);
}

svg g{
    font-size: 11px;
}

/* image{
    height: 32px;
    width: 32px;
} */

tspan{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;            
    font-size: 14px;
}

/* context, dialog*/
.context-menu-list, .context-menu-root{
    margin: 0px;
    padding: 0px;
    background-color: #222226 !important;
    border: 0;
}

.context-menu-item{
    background-color: #222226;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 1px;
    border: 1px solid #333333;
    padding: 8px 16px 8px 16px;
    margin-right: 0;
}

.context-menu-item:hover{
    color: #CCFF00;
    background-color: #222226;
}

#context-menu-layer{
    border: none;
}

#nodeOperationContextMenu{
    background-color: #222226;
}

/* file rename/delete dialog*/
#fileRenameLabel{
    margin: 8px 0 8px 0;
    color: #FFFFFF;
}

#newName{
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    width: 282px;
    margin-top: 4px;
    height: 20px;
    padding-left: 5px;
}

#fileDeleteLabel, #deleteMessage{
    margin: 8px 0 8px 0;
    color: #FFFFFF;    
    padding: 0;
}

#deleteMessage{
    margin-top: 6px;
    color: #FFFFFF;    
    padding: 0;
}

.dialogTitle{
    margin: 8px 0 8px 0;
    color: #FFFFFF;
}

.dialogTextbox{
    background-color: #000000;    
    color: #FFFFFF;
    border: none;
    width: 282px;
    margin-top: 4px;
    height: 20px;
    padding-left: 5px;
}

.ui-dialog {
    z-index: 200;
    background-color: #222226;
    border: none !important;
    width: 312px !important;
    height: 120px !important;
}
.ui-dialog-content{
    padding: 0px 0px 5px 15px !important;
}

.ui-dialog-buttonpane{
    background-color: #222226;
    border: none;
    margin: 0px !important;
    padding: 0px !important; 
}

.ui-dialog-buttonset{
    padding: 0;
    position: relative;
    left: -5px;
    top: 12px;
}

.ui-button{
    background-color: #6F6F77;
    font-size: 14px !important;
    width: 71px;
    height: 24px;
    color: #FFFFFF;
    line-height: 0px;
    border-radius: 0px;
    border: none;    
}

.viewNodesField{
    border: solid 1px rgba(68, 68, 73, 0.5);
}

/* .viewNodes{
    display: none;
}

.viewButton:hover{
    cursor: pointer;
}
 */
