html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    font-size: 0;
    color: #FFFFFF;
    white-space: nowrap;
}

li {
  list-style: none;
}

/* ヘッダー*/
header {
    padding: 12px 16px 0px 16px;
    position: relative;
    background: #000000;
    font-size: 24px;
    text-decoration: none;
    /* temporary change for rapid2
    height: 24px;
    padding: 12px 16px 10px 16px;
    height: 42px;*/
}

#title {
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: -4px;
}

#titleUser{
    display: inline-flex；
}

#img_user{
    position: absolute;
    margin: 0px;
    width: 24px;
    height: 24px;
}

#titleUserName{
	position: absolute;
	right: 88px;
    color: FFFFFF;
    font-size: 14px;
    padding-top: 2px;
}

#drawerButton{
    position:absolute;
	right:16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
}

#drawerIcon{
    margin-bottom: 5px;
}

#img_btn_menu_n{
    right:16px;

}

img.btn_menu_n{
    width:16px;
    height:16px;
}

.btn_menu_n:focus{
	outline:none;
}

/* 右ドロワー */
#drawerMenu {
    width:192px;
    height:100%;
    -webkit-transform:translateX(192px);
    transform:translateX(192px);
    transition:ease .5s;
    position:fixed;
    top:0;
    right:0;
    z-index:90;
}

#drawerMenu.action {
    width:192px;
    background:#4C4C55;
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.drawerMenuItem {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#drawerMenuContents{
    margin: 0;
}

#drawerMenuList{
    padding: 0;
    margin: 8px 8px 8px 16px;
    font-size: 14px;
}

#drawerMenuList li{
    padding: 0;
    margin: 0 0 8px 8px;
}

#menuTitle{
    padding: 16px 8px 8px 16px;
    margin: 0;
    font-size: 18px;
    border: 1px solid #4C4C55;
    border-bottom-color: #2F2F33;
}

/* 下ドロワー*/
#projectInfo{
    cursor: pointer;
}

#projectInfoDrawer {
    width: 100%;
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    display: inline-block;
    font-size: 14px;
}

#projectInfoDrawer.action {
    -webkit-transform:translateY(36px);
    transform:translateY(36px);
    z-index: 1000;
}

#projectInfoDrawer input{
    margin: 5px 5px 5px 5px;
    padding-left: 5px;
    height: 20px;
    width: calc(90% - 100px);
    background-color: #000000;
    border: 0;
    color:#FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#projectDirectoryPathField{
    display: flex;
}

#projectDirectoryPath{
    margin: 5px 5px 5px 5px;
    padding: 2px 0 0 5px;
    height: 22px;
    width: calc(90% - 100px);
    background-color: #000000;
    border: 0;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
}

#drawerMargin{
    height: 34px;
}

#drawerInfo{
    padding-top: 4px;
    height: 70px;
    opacity: 0.9;
    background:#222226;
}

#drawerInfo label{
    margin: 5px 5px 5px 21px;
    display: block;
    float: left;
    height: 20px;
    width: 150px;
    text-align: left;
}

/* コントローラバー*/
.projectInfoArea {
    display: inline-flex;
    flex-direction: row;
    margin: 0 0 6px 16px;
    font-size: 14px;
    text-align: center;
    height: 24px;
}


#img_project{
    height: 24px;
    vertical-align: middle;
}

#projectName{
    text-align: left;
    margin: 2px 10px 0 0;
    width:188px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
}

#projectState{
    margin: 0 0 0 0;
    width: 100px;
    border-radius: 12px;
    border: 1px solid #FFFFFF
}

.controler_button{
    margin: 0 0 0 8px;
}

.img_btn_contoroler{
    height: 24px;
    width: 24px;
    margin: 0 0 0 8px;
    cursor: pointer;
}

.date_title {
    margin: 0 0 0 24px;
}

.date_time {
    margin: 0 0 0 8px;
}

#save_button{
    display: inline-flex;
    margin: 0 0 0 8px;
    cursor: pointer;
}

#save_button:hover{
    color: #CCFF00;
}

#revert_button{
    display: inline-flex;
    margin: 0 4px 0 8px;
    cursor: pointer;
}

#revert_button:hover{
    color: #CCFF00;
}

.figure_caption {
    margin-left: 8px;
}

.projectInfoRightArea {
    text-align: center;
    display: flex;
    padding-top: 2px;
    position: absolute;
    right: 16px;
}

/*ビューコントローラー*/
#viewControlArea{
    padding: 4px 0 4px 16px;
    background-color: #222226;
}

.btn_view_change{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0;
    background-color: #222226;
}

#breadcrumb{
    position: absolute;
    margin-left: 176px;;
}

.breadcrumbButton{
    height: 24px;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* temporary change for rapid2*/
    padding-right: 6px;
}

.img_breadcrumbButton_icon{
    height: 24px;
    width: 24px;
}

.img_pankuzuArrow_icon{
    margin: 0 16px 0 16px;
    position: relative;
    top: -4px;
}

.breadcrunbName{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

#img_pankuzuArrow{
    margin: 0;
}

#cbMessageArea{
    position: absolute;
    right: 18px;
    width: 200px;
    height: 24px;
    font-size: 14px;
    text-align: right;
    color: #222226;
}
/*ビューコントローラー末尾*/


/* タスクライブラリー*/
.componentLibraryActive{
    transform: translateX(256px);
}

#componentLibraryButton{
    position: absolute;
    height: 48px;
    /* temporary change for rapid2*/
    width: 24px;
    margin-top: 6px;
    left: 0;
    z-index: 40;
    /* background-color:#222226; */
    background-color:#4C4C55;
    color: white;
    border: 0;
	cursor: pointer;
    border-collapse: collapse;
    transition: all 300ms 0s ease;
}

#workflowComponents ul{
    margin: 12px 0 12px 0;
}

.componentLibraryButton img{
    width: 10px;
}

#componentLibrary{
    left: -256px;
    position: fixed;
    margin-top: 6px;
    height: calc(100% - 124px);
    width: 256px;
    min-width: 256px;
    background-color: #222226;
    opacity: 0.9;
    /* display: none; */
    z-index: 40;
    border-collapse: collapse;
    transition: all 300ms 0s ease;
}

#componentLibraryTitle{
    font-size: 18px;
    margin: 16px 0 0 16px;
}

.type li{
    display: inline-block;
}

.imgSize{
    height: 32px;
    width: 32px;
    border-radius: 2px;
}

#img_workflow{
    background-color: #803DB3;
}

#img_task{
    background-color: #3B55B3;
}

#img_parameterStudy{
    background-color: #666622;
}

#img_if{
    background-color: #5B5B5F;
}

#img_for, #img_while, #img_foreach{
    background-color: #247780;
}

#img_source{
    background-color: #00bff0;
}

#img_viewer{
    background-color: #00b050;
}

#img_stepjob{
    background-color: #803DB3;
}

#img_stepjobTask{
    background-color: #3B55B3;
}

.img_workflow_p{
    border-radius: 2px;
    background-color: #803DB3;
    height: 24px;
    width: 24px;
}

.img_task_p{
    border-radius: 2px;
    background-color: #3B55B3 !important;
    height: 24px;
    width: 24px;
}

.img_parameterStudy_p{
    border-radius: 2px;
    background-color: #666622;
    height: 24px;
    width: 24px;
}

.img_if_p{
    border-radius: 2px;
    background-color: #5B5B5F;
    height: 24px;
    width: 24px;
}

.img_for_p{
    border-radius: 2px;
    background-color: #247780;
    height: 24px;
    width: 24px;
}

.img_while_p{
    border-radius: 2px;
    background-color: #247780;
    height: 24px;
    width: 24px;
}

.img_foreach_p{
    border-radius: 2px;
    background-color: #247780;
    height: 24px;
    width: 24px;
}

.img_source_p{
    border-radius: 2px;
    background-color: #00bff0;
    height: 24px;
    width: 24px;
}

.img_viewer_p{
    border-radius: 2px;
    background-color: #00b050;
    height: 24px;
    width: 24px;
}

.img_stepjob_p{
    border-radius: 2px;
    background-color: #3B55B3 !important;
    height: 24px;
    width: 24px;
}

#workflowComponents{
    margin: 16px 16px 0 16px;
}

#workflowComponents .type{
    cursor: pointer;
    padding-left: 0px;
    height: 32px;
}

#workflowComponents .type:hover{
    background-color: green;
}

.workflowComponents-name{
    font-size: 14px;
    position: absolute;
    margin: 6px 0 0 8px;
}
/* タスクライブラリー末尾*/

/* プロパティ*/
#property {
    position: relative;
    overflow: auto;
    margin-top: 6px;
    background-color: #222226;
    height: 99%;
    display: none;
    z-index: 40;
    border-collapse: collapse;
}

select::-ms-expand {
    display: block;
}

#propertyArea{
    margin: 12px;
}

#propertyButtonArea{
    position: absolute;
    z-index: 40;
}

#propertyButton{
    position: absolute;
    right: 0;
    height: 48px;
    margin-top: 6px;
    z-index: 40;
    background-color:#222226;
    color: white;
    border: 0;
	cursor: pointer;
    border-collapse: collapse;
}

#propertyTitle{
    font-size: 18px;
}

#img_node_type{
    height: 32px;
    width: 32px;
}

#propertyType{
    display: inline-flex;
}

#propertyTypeName{
    margin: 5px 0 0 8px;
}

#propertyName{
    margin: 0;
}

#propertyDisable:checked+label{
    margin: 0;
    color: #FF0000;
}

#propertyDisable{
    margin: 0;
}

#propertyDisableArea{
    text-align: right;
}

.cleanStateButton{
    right: 28px;
}

#propertyDescription{
    margin: 8px 0 0 0;
    display: inline-block;
}

#propertyScript, #propertyState{
    margin: 2px 0 0 0;
    display: inline-block;
}

#propertyInputFiles, #propertyOutputFiles, #propertyOutputFile, #propertyParameterSettingFile, #propertyCondition,
#propertyIndexList, #propertyStart, #propertyStep,
#propertyRemotehost, #propertyQueue, #propertyRetry, #propertyUseDependency
{
    margin: 8px 0 0 0;
    display: inline-block;
}

.propertyCheckboxLabel
{
    margin: 4px 0 0 0;
    display: inline-block;
}

#propertyEnd{
    display: inline-block;
}

#nameInputField, .newInputFileNameInputField, .newOutputFileNameInputField,
.newOutputFileNameInputField, #parameterFileInputField, #retryConditionInputField, #conditionInputField,
.newIndexListField, #retryTimesInputField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#dependencyInputField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #333333;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#stateField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color:#6F6F77;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#scriptInputField{
    margin: 2px 0 6px 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#includeInputField, #excludeInputField{
    margin: 2px 0 0 16px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#scriptSelectField, #remotehostSelectField, #conditionSelectField, #parameterFileSelectField, #outputFileSelectField,
#retryConditionSelectField, #fileForCondition{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 22px;
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#conditionTypeFlags{
    margin: 2px 0 2px 4px;
}

#queueSelectField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 198px;
    background-color: #333333;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

.queueSelectFieldColor, .dependencyInputFieldColor{
    background-color: #000000 !important;
}

#propertyRetryArea{
    margin-left: 8px;
}

#propertyRetryCondition{
    display: inline-block;
    margin-top: 4px;
}

.checkboxArea{
    margin-top: 8px;
    padding: 0px;
}

#descriptionInputField{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 72px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

#startInputField, #endInputField{
    margin: 2px 0 0 2px;
    padding-left: 5px;
    height: 20px;
    width: 73px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
}

#stepInputField{
    margin: 2px 0 0 5px;
    padding-left: 5px;
    height: 20px;
    width: 73px;
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
}

#dependencyStepnum{
    margin: 2px 0 0 8px;
    padding-left: 5px;
    height: 20px;
    width: 192px;
    background-color: #000000;
    border: 0;
    color: #777777;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

.inputAddDelButton, .outputAddDelButton, .cleanStateButton, .indexListButton{
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 5px;
    padding: 0px;
    border: 1px solid #5B5B5F;
    background-color: #5B5B5F;
}

#remoteFileTransferSetthing{
    padding: 12px;
    border-top: solid 1px #000000;
}

#propertyCleanUpFlag, #propertyInclude, #propertyExclude{
    margin: 8px 0 0 8px;
    display: inline-block;
}

#propertyDependencyForm, #propertyStepNumber{
    margin: 8px 0 0 8px;
}

#flags{
    margin: 2px 16px 0 16px;
}

.property_text {
    width: calc(100% - 12px);
}

.property div {
    /* color: rgb(105, 175, 45); */
    align-items: center;
}

#filesTitle{
    font-size: 18px;
}

#filesEdit{
    padding: 16px;
    border-top: solid 1px #000000;
}

.createFileDirButton, .editButtons{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 8px 0 0 8px;
    padding: 0px;
    border: 0;
    background-color: #222226;
}

#dirBackButton{
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #222226;
    color: #FFFFFF;
}

#createFolderButton{
    margin: 8px 0 0 62px;
}

#editButtonsArea{
    margin: 8px 0 0 180px;
}

#jupyterBootButton{
    margin: 8px 0 0 0;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 29px;
    border: 0;
    background-color: #222226;
}

#jupyterImg{
    width: 24px;
    height: 29px;
}

#fileListLoadButton{
    margin: 0 0 2px 162px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: 0px;
    border: 0;
    background-color: #222226;
    vertical-align: middle;
}

#loadFileListImg{
    width: 18px;
    height: 18px;
}

#startInputField, #endInputField, #stepInputField{
    width: 75px;
}

#fileList{
  margin: auto;
  padding-left: 0px;
  font-size: 14px;
}

#fileDropArea{
    visibility: hidden;
    margin: 0;
    height: 12px;
}

.filebrowseList{
    color:balck;
    vertical-align: middle;
    margin: 1px;
}

.dataNameLabel{
    text-align: center;
    position: absolute;
    padding: 3px 0 0 1px;
}

#path{
    margin: auto;
    color: orange;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    word-wrap: break-word;
    font-size: 12px;
}

#componentPath{
    margin: 2px 0 4px 0;
    height: 20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    word-wrap: break-word;
    font-size: 12px;
    background-color: #000000;
}

#componentPath:hover {
    overflow: visible;
    white-space:normal;
}

#fileSelector{
    display: none;
}

#fileList li:hover{
    background-color: gray;
}

.backButton{
    width: 24px;
    height: 24px;
}

.subtitle {
    color: rgb(240, 240, 240);
    padding: 10px 0 0 20px;
    font-size: 120%;
    font-weight: bold;
    height: 40px;
}

.viewControlRightArea {
    position: relative;
    right: 48px;
    flex-direction: row;
    font-size: 90%;
    text-align: right;
}

.address_bar_area {
    display: flex;
    flex-direction: row;
    color: rgb(240, 240, 240);
    width: 95%;
    margin: 5px auto;
    font-size: 90%;
    align-content: center;
}

.address_bar_area span {
    width: 100px;
    padding: 5px 5px;
}

.text_container {
    display: flex;
    flex-direction: row;
    color: rgb(240, 240, 240);
    width: 100%;
    padding: 5px;
    align-items: center;
    width: 300px;
    position: relative;
    padding: 10px 0;
}

.text_label {
    width: 60px;
}

.host_container {
    display: inline-block;
    vertical-align: middle;
}

.auth_type_area {
    width: 600px;
    margin: auto;
    height: 90px;
}

.auth_type_radio_container {
    width: 400px;
    vertical-align: middle;
}

.auth_type_area div {
    float: left;
    padding: 0 10px 10px 0;
}

.text_box {
    border: 0;
    padding: 3px;
    color: rgb(240, 240, 240);
    border: solid 1px #111;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1) inset;
    background-color: rgb(60, 60, 55);
}

.remotehost_text,
.address_bar {
    margin: 0 0 0 5px;
    width: 100%;
}

#address_bar {
 background-color: rgb(70, 70, 65);
}

.dialog_text_box {
    width: 100%;
}

.sub_content_area,
.file_dialog {
    color: rgb(240, 240, 240);
    border: solid 1px #111;
    background-color: rgb(70, 70, 65);
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    height: calc(100% - 360px);
    width: 98%;
    margin: auto;
    /* overflow: auto; */
    font-size: 90%;
    user-select: none;
}

.text_area {
    color: rgb(240, 240, 240);
    min-width: 95%;
    min-height: calc(100% - 160px);
    resize: none;
    border: solid 1px #111;
    background-color: rgb(70, 70, 65);
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    background-image: linear-gradient(rgb(60, 60, 55) 50%, transparent 50%, transparent);
    background-size: 40px 40px;
    line-height: 20px;
    font-size: 16px;
    margin-left: 2.4%;
    align-items: center;
    vertical-align: middle;
    position: relative;
}

.select_dir_container,
.select_file_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0);
    margin: 0 5px;
}

.file_icon,
.dir_icon,
.icon {
    height: 30px;
}

.project_icon {
    height: 20px;
    margin: 0 3px;
}

.hostlabel {
    padding-left: 10px;
    text-align: left;
    width: 600px;
}

.gray_panel {
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 50;
}

#node_svg {
    float: right;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.psProgress{
    width:10px;
}

/*　log Area */
#logAreaButton {
	bottom:0px;
    position: fixed;
    margin: 0 50% 0 50%;
    height: 20px;
    width: 48px;
    background-color: #4C4C55;
    border: 0;
    transition: all 300ms 0s ease;
}

.logAreaActive{
    transform: translateY(-320px);
}

.logAreaButton.display {
    -webkit-transform:translateY(-320px);
    transform:translateY(-320px);
}

#logAreaButtonImg{
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0px;
    left: 16px;
    top: 1px;
}

.line {
    border-bottom: 1px solid rgba(40, 40, 40, 1);
    box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1);
    margin: 3px 0;
}
.pure-pusher{
    background-color: rgb(47, 47, 42);
}

#logArea {
    /* display: none; */
    background-color: rgba(28,28,32,0.93);
    bottom:-320px;
    color: rgb(240, 240, 240);
	position:fixed;
    width: 100%;
    height: 320px;
    z-index: 80;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    transition: all 300ms 0s ease;
}

.logAreaActive{
    transform: rotateY(320px);
}

#logButtonArea{
    padding: 8px 0 0 16px;
    border: solid 1px rgba(28,28,32,0.75);
    border-bottom-color: #6F6F77;
}

.logButton{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    background-color: rgba(28,28,32,0.0);
    font-size: 14px;
    padding: 0 20px 0 20px;
    border: solid 2px rgba(28,28,32,0.0);
    color: #FFFFFF;
    cursor: pointer;
    width: 120px;
}

.logButton:hover{
    border-bottom-color:#CCFF00 !important;
}

.logText{
    font-size: 12px;
    color: #FFFFFF;
    height: 240px;
    overflow: auto;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    margin: 12px 0 0 12px;
    display: none;
}

.logContent{
    font-size: 12px;
    color: #FFFFFF;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    margin: 0;
}

#logClearButton{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    background-color: #5B5B5F;
    font-size: 14px;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 120px;
}

#buttonPartition{
    padding-left: 16px;
}

/* リストビュー画面 */
#projectTable{
    margin :0;
    position: absolute;
}

#workflow_graphview_area {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #2F2F33;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    height: calc(100% - 62px);
    overflow: auto;
    font-size: 14px;
    user-select: none;
}

#workflow_listview_area{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #2F2F33;
    box-shadow: -1px 1px 0px 0px rgba(250, 250, 250, 0.1);
    /* temporary change for rapid2
    height: calc(100% - 108px);
    */
    /*62 = projectInfoArea(30px) + viewControlArea(32px)*/
    height: calc(100% - 62px);
    width: 100%;
    border: none;
    /* overflow: auto; */
    font-size: 0;
    user-select: none;
    margin: 0;
}

#project_tree_svg{
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: 16px;
    width: calc(100% - 16px);
    height: calc(100% - 24px)
}

#tableHeadArea{
    left: 0;
    overflow: hidden;
}

#projectHeadTable{
    margin :0;
    width: calc(100% - 16px);
    word-wrap: break-word;
    border-collapse: collapse;
    border: solid 1px #2F2F33;
    border-bottom-color: #222226;
}

#project_table_head{
    position: sticky;
    top: 0;
    width: 100%;
    text-align: left;
}

#project_table_tr{
    margin: 0 0 4px 0;
    text-align: left;
}

#tableDataArea{
    box-sizing: border-box;
    left:0;
    overflow: auto;
    height: calc(100% - 31px);
    width: 100%;
    padding-right: 16px;
    padding-bottom: 16px;
}

#projectBodyTable{
    left:0;
    width: 100%;
    word-wrap: break-word;
    border-collapse: collapse;
}

#project_table_body{
    height: 100%;
    width: 100%;
    border: solid 1px #2F2F33;
    border-top-color: #222226;
}

#project_table_tr th:not([id="showMoreButtonArea"]){
    padding: 0 0 4px 0;
    text-align: left;
    font-weight: inherit;
}

.project_table_component{
    border: solid 1px #2F2F33;
    border-bottom-color: #222226;
    box-sizing: content-box;
}

.componentNameLabel{
    display: inline-block;
    width: 165px;
    border-radius: 3px;
    font-size: 14px;
    border-collapse: separate;
}

th.componentStateLabel{
    display: inline-block;
    width: 90px;
    font-size: 14px;
    margin-right: 14px;
    margin-left: 37px;
    border-collapse: separate;
}

.componentStartTimeLabel{
    display: inline-block;
    width: 150px;
    font-size: 14px;
    margin-right:44px;
    border-collapse: separate;
}

#showMoreButtonArea{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    border-collapse: separate;
    margin-bottom: 4px;
}

#showMoreButton{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:10px;
}

.componentLabel{
    display:none;
    width: 150px;
    font-size: 14px;
    margin-right:44px;
    border-collapse: separate;
}

.componentEndTimeLabel{
    display: inline-block;
    width: 150px;
    font-size: 14px;
    margin-right:44px;
    border-collapse: separate;
}

.componentDescriptionLabel{
    display: inline-block;
    width: 256px;
    font-size: 14px;
}

.componentName{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
}

.componentState{
    display: inline-block;
    padding-right: 50px;
    font-size: 14px;
    width: 90px;
}

.nameLabelArea{
    display: inline-block;
    padding-right: 3px;
    border-radius: 0px 3px 3px 0px;
    height: 32px;
}

.nameLabelArea :hover{
    display: table-cell;
}

.nameLabel{
    width:130px;
    font-size: 14px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stateIcon{
    vertical-align: middle;
}

.componentStartTime{
    display: inline-block;
    padding-right: 64px;
    width: 150px;
    font-size: 14px;
}

.componentEndTime{
    display: inline-block;
    padding-right: 44px;
    width: 150px;
    font-size: 14px;
}

.componentDescription{
    display: inline-block;
    width: 256px;
    font-size: 14px;
}

.stateLabel{
    display: inline-flex;
    position: relative;
    padding-left: 4px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
    outline: none;
}

progress {
    border: solid 1px #111;
    box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1);
    background-color: rgb(70, 70, 65);
}

svg g{
    font-size: 11px;
}

tspan{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    font-size: 14px;
    
}

/* context, dialog*/
.context-menu-list, .context-menu-root{
    margin: 0px;
    padding: 0px;
    background-color: #222226 !important;
    border: 0;
}

.context-menu-item{
    background-color: #222226;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 1px;
    border: 1px solid #333333;
    padding: 8px 16px 8px 16px;
    margin-right: 0;
    width: 100px;
    height: 20px;
}

.context-menu-item:hover{
    color: #CCFF00;
    background-color: #222226;
}

#context-menu-layer{
    border: none;
}

#nodeOperationContextMenu{
    background-color: #222226;
}

/*all dialog setting*/
#dialog{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
  }

.ui-dialog {
    z-index: 200;
    background-color: #222226;
    border: none !important;
  }

  .ui-dialog-titlebar{
    background-color: #222226;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: initial;
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    border: 0;
  }

  .ui-button{
    background-color: #5B5B5F;
    border-color: #5B5B5F;
    color: #ffffff;
    border-radius: 0;
    width: 72px;
    height: 24px;
    padding: 0;
  }

  .ui-dialog-buttonpane{
    background-color: #222226;
    border: none;
    height: 32px;
  }

  /* workflow.js only setting*/
  .ui-button.cancelButton{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    font-size: 14px;
  }

  .ui-button.okButton{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    font-size: 14px;
    margin: 9px 9px 9px 2px!important;
  }

  .ui-button.notUseButton{
      display: none;
  }

#newfileName.dialogTextbox, #newfolderName.dialogTextbox, #newName.dialogTextbox,
#password.dialogTextbox, #sourceFilename.dialogTextbox{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    border: 0;
    width: 300px;
    height: 20px;
    margin: 8px 10px 8px 10px;
    padding-left: 5px;
}

#jobScriptSelectBox, #jobScriptName{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
}

.jobScriptDialog{
    color: #FFFFFF;
    background-color: #000000;
    border: 0;
    width: 370px;
    height: 20px;
    margin: 4px 10px 8px 10px;
    padding-left: 5px;
}

#jobScriptTemplateLabel{
    margin-top: 8px;
}

#deleteMessage{
    margin-top: 6px;
    color: #FFFFFF;
    padding: 0 16px 0 16px;
    font-size: 16px;
}

.dialogMessage{
    font-family: "Meiryo", "ヒラギノ角ゴ Pro", "IPA Pゴシック", sans-serif;
    font-weight: initial;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0px 10px 4px 10px;
}

.viewNodesField{
    border: solid 1px rgba(68, 68, 73, 0.5);
}

#sshConnectionLabel{
  margin: 8px;
  color: #FFFFFF;
}

/* rapid2 css*/
#editorTitle{
    background: #222226;
    padding: 4px 0 4px 16px;
    height: 32px;
}

#backToGraphView{
    position: absolute;
    right: 16px;
}

#rapid2Title{
    font-size: 16px;
    position: relative;
}

.gutter {
    background-color: gray;
  height: 100%;
  cursor: ew-resize;
}

#app {
/*body size - header size*/
  height: calc(100% - 48px);
}

#normalArea {
  height: 100%;
}

#rapid {
  /* height: 100%; */
}

.ui-tooltip {
	font-size: 12px;
}
body .ui-tooltip {
	border-width: 2px;
}

.application--wrap{
    min-height: calc(100vh - 48px) !important;
}

.container{
    padding: 0px !important;
}

.ace-idle-fingers .ace_print-margin{
    width: 0px !important;
}

/* viewer html css*/
/* 
#viewerImages {
    list-style-type: none;
 }

#viewerImages li {
    display: inline-block;
} */
