<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" href="/css/admin.css" />
  
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <title>WHEEL</title>
</head>

<body>
  <header>
    <a href="home" class="title">WHEEL</a>
    <h3 class="title_username">Yuki Tanaka</h3>
  </header>

  <main>
      <div id="html_name">
        <div class="admin">Account Manager</div>
      </div>
      <div id="fieldName">
        <div class="accountField">Account List</div>
      </div>
  </main>

  <div id="view">
    
    <!-- Account List Area -->
    <div id="accountTitleArea">
      <table id="titleTable">
        <tr id="accountInfo">
          <th class="userName">User Name</th>
          <th class="workDir">Work Dir</th>
          <th class="description">Description</th>
        </tr>
      </table>
    </div>
    <div id="accountPropertyArea">
      <table id="propertyTable">
        <template v-for="(account, index) in accountList">            
          <tr id="accountListInfo">
            <td class="userName" v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)" >
                {{ account.name }}
            </td>
            <td class="workDir" v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)" >
                {{ account.workDirectory}}
            </td>
            <td class="description" v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)" >
                {{ account.description }}
            </td>
          </tr>         
        </template>
      </table>
    </div>

    <!-- Error Message Area -->
    <div id="errorMessage">{{errorMessage}}</div>
    <!-- <div id="errorMessage" v-show="errorMessage != ''">{{errorMessage}}</div> -->

    <!-- Button Area -->
    <div id="buttonArea">
      <button v-on:click="onAddButton">Add</button>
      <button v-on:click="onUpdateButton">Edit</button>
      <button v-on:click="onRemoveButton">Delete</button>
    </div>
  
    <!-- New Account Dialog -->
    <div id="newAccountDialog" style="display:none;">
      <div>
        <p><label>Account Name</label></p>
        <input type="text" v-model.lazy.trim="newAccount.name" v-bind:class="{'ui-state-error': !validation.name || isDuplicate}" >
        <p v-if="isDuplicate"  class="dialogStateError">duplicated Account Name</p>
        <p v-if="!validation.name" class="dialogStateError">empty is not allowed.</p>
      </div>
      <div>
        <p><label>Password</label></p>
        <input type="password" v-model.lazy.trim="newAccount.password" v-bind:class="{'ui-state-error': !validation.password}">
        <p v-if="!validation.password" class="dialogStateError">empty is not allowed.</p>
      </div>
      <div>
        <p><label>Work Directory</label></p>
        <input type="text" v-model.lazy.trim="newAccount.workDirectory" v-bind:class="{'ui-state-error': !validation.name}" >
        <p v-if="!validation.workDirectory" class="dialogStateError">empty is not allowed.</p>
      </div>
      <div>
        <p><label>Description</label></p>
        <textarea v-model.lazy.trim="newAccount.description" v-bind:class="{'ui-state-error': !validation.name}" ></textarea>
      </div>
      <button v-on:click="onDialogOKButton" v-bind:disabled="hasError">OK</button>
      <button v-on:click="onDialogCancelButton">Cancel</button>
    </div>
    <!-- Delete Check Dialog -->
    <div id="deleteCheckDialog" style="display:none;">
      <div>
        <div class="deleteCheckMessage">
          Are you sure want to completely delete this account?
        </div>
        <button v-on:click="onDialogOKButton">OK</button>
        <button v-on:click="onDialogCancelButton">Cancel</button>
      </div>
    </div>
  </div>
</body>

</html>

