<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <title>WHEEL admin</title>
</head>

<body>

  <!-- Header -->
  <header>
    <a href="home" id="title">WHEEL</a>
    <span>
      <img src="/image/img_user.png" align="middle" id="iconImg">
      <span id="titleUserName">admin</span>
      <button type="button" id="drawer_button">
        <img src="/image/btn_menu_n.png" alt="config" class="btn_menu_n">
      </button>
    </span>
  </header>

  <!-- Page Name Area -->
  <div id="pageNameArea">
    <label id="pageName">Account List</label>
  </div>

  <div id="view">

    <!-- Account List Area -->
    <div id="accountListArea">
      <div id="accountTitleArea">
        <table id="titleTable">
          <tr>
            <th class="userName">User Name</th>
            <th class="workDir">Work Dir</th>
            <th class="description">Description</th>
          </tr>
        </table>
      </div>
      <div id="accountPropertyArea">
        <table id="propertyTable">
          <template v-for="(account, index) in accountList">
            <tr id="accountListInfo">
              <td v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)"
                class="userName">{{ account.name }}</td>
              <td v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)"
                class="workDir">{{ account.workDirectory}}</td>
              <td v-bind:key="account.name" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)"
                class="description">{{ account.description }}
              </td>
            </tr>
          </template>
        </table>
      </div>
    </div>

    <!-- Error Message Area -->
    <div v-show="errorMessage != ''" id="errorMessage">{{errorMessage}}</div>

    <!-- Button Area -->
    <div id="buttonArea">
      <button v-on:click="onAddButton" id="newButton">
        <img src="/image/btn_addHost_n.png">
        <label>New</label>
      </button>
      <button v-on:click="onRemoveButton" id="deleteButton">
        <img src="/image/btn_hostDelete_n.png">
        <label>Delete</label>
      </button>
    </div>

    <!-- Account Registration Title -->
    <div id="accountRegTitleArea">
      <label id="accountRegTitleLabel">Account Registration</label>
    </div>

    <!-- New Account Registration -->
    <div id="accountRegFormArea">
      <div>
        <span>
          <label>User ID</label>
        </span>
        <input type="text" placeholder="empty is not allowed." v-model.number="newAccount.uid" v-bind:class="{'ui-state-error': !validation.uid}">
      </div>
      <div>
        <span>
          <label>Group ID</label>
        </span>
        <span>
          <input type="text" placeholder="empty is not allowed." v-model.number="newAccount.gid" v-bind:class="{'ui-state-error': !validation.gid}">
        </span>
      </div>
      <div>
        <span>
          <label>Account Name</label>
        </span>
        <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newAccount.name" v-bind:class="{'ui-state-error': !validation.name || isDuplicate}">
        <p v-if="isDuplicate" class="dialogStateError">duplicated Account Name</p>
      </div>
      <div>
        <span>
          <label>Password</label>
        </span>
        <input type="password" placeholder="empty is not allowed." v-model.lazy.trim="newAccount.password" v-bind:class="{'ui-state-error': !validation.password}">
      </div>
      <div>
        <span>
          <label>Work Directory</label>
        </span>
        <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newAccount.workDirectory" v-bind:class="{'ui-state-error': !validation.name}">
      </div>
      <div id="descriptionArea">
        <span>
          <label id="descriptionLabel">Description</label>
        </span>
        <textarea v-model.lazy.trim="newAccount.description" id="descriptionArea"></textarea>
      </div>
    </div>

    <!-- delete Dialog -->
    <div id="dialog"></div>

    <!-- Confirm Cancel Button Area -->
    <div id="confirmCancelButtonArea">
      <button v-on:click="onEditAreaOKButton" v-bind:disabled="hasError" id="confirmButton">Confirm</button>
      <button v-on:click="onEditAreaCancelButton" id="cancelButton">Cancel</button>
    </div>

    <!-- 右ドロアーメニュー -->
    <div data-position="right" id="drawerMenu">
      <!-- Put your off canvas content here -->
      <div id="drawerMenuContents">
        <p id="drawerMenuTitle">Menu</p>
        <ul id="drawerMenuList">
          <li>
            <a class="drawerMenuItem" href="/login">log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>