<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/libs.css" />
    <link type="text/css" rel="stylesheet" href="/css/home.css" />
    <!-- 仮UI用にCDNで導入-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/home.js"></script>

    <title>WHEEL</title>
</head>

<body>
    <div class="subtitle">Home</div>
    <div id=normal>
    <div>
      <ul id=projectList></ul>
    </div>
    <div class="jquery-ui-button" id=buttons>
      <button id="btnNew"> New </button>
      <button id="btnImport"> Import </button>
    </div>
    </div>
    <div id="dialog"></div>
</body>

</html>
