<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/home.js"></script>
  <title>WHEEL home</title>
</head>

<body>
  <!-- header -->
  <header>
    <a href="home" id="title">WHEEL</a>
    <span id="titleUser">
      <img src="/image/img_user.png" align="middle" class="iconImg" id="userImg">
      <span id="titleUserName">user01</span>
      <button type="button" id="drawerButton">
        <img src="/image/btn_menu_n.png" alt="config" class="drawerButtonImg">
      </button>
    </span>
  </header>
  <div id="pageNameArea">
    <label id="pageNameLabel">Home</label>
  </div>

  <!-- dialog -->
  <div id="fileControllArea">
    <button type="button" class="buttonAreaButton" id="newButton">New</button>
    <button type="button" class="buttonAreaButton" id="importButton">Import</button>
  </div>
  <div id="dialog"></div>
  <div id="dialogContext"></div>

  <!-- project list -->
  <main>
    <section id="projectField">
      <div id="projectPropertyField">
        <span id="projectName">Project Name</span>
        <span id="projectDescription">Description</span>
        <span id="projectPath">Project Path</span>
        <span id="projectCreateDay">Create</span>
        <span id="projectUpdateDay">Update</span>
        <span id="projectState">Project State</span>
      </div>
      <div id="projectList"></div>
    </section>
  </main>

  <!-- drawer -->
  <div data-position="right" id="drawerMenu">
    <div id="drawerMenuContents">
      <p id="menuTitle">Menu</p>
      <ul id="drawerMenuList">
        <li>
          <a class="drawerMenuItem" href="/remotehost" target="_blank">remotehost</a>
        </li>
        <li>
          <a class="drawerMenuItem" href="/login">log out</a>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>