<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WHEEL login</title>
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/reset.css"/>
</head>
<body id="login">
  
  <!-- Next Generation Scientific Workflow -->
  <div class="subtitle">
      <h3>Next Generation Scientific Workflow</h3>
  </div>
  <!--終わり -->

  <!-- wrap始まり -->
  <div id="wrap">
    <div class="content">
      <h1>WHEEL</h1>
      <div class="form">
        <form action="/login" method="POST">
          <dl>
            <dt><span class="logininfo">User Name</span></dt>
            <dd><input type="text" name="username" class="username" required></dd>
            <dt><span class="logininfo">Pass Word</span></dt>
            <dd><input type="password" name="password" class="password" required></dd>
          </dl>
          <button type="submit" class="login_button">Log In</button>
        </form>
      </div>
    </div>
  </div>
  <!-- wrap終わり -->
  
  <!-- footer始まり -->
<!--   <footer>
    <small>(C)2017 国立研究開発法人理化学研究所</small>
  </footer> -->
  <!-- footer終わり -->
  
</body>
</html>