<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Editor</title>
  <link type="text/css" media="screen" rel="stylesheet" href="/css/rapid.bundled.css"/>
  <link type="text/css" media="screen" rel="stylesheet" href="/css/rapid.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/rapid.js"></script>
</head>

<body>

<div class="container">
  <div id="header">
    <p style="border:1px solid white; padding:4px">
    ファイル名：<span id="file_name"><%= filename %></span>　　編集結果を保存→
      <button id="button_save">Save files</button>
    </p>
  </div>
  <div id="left_pane">
    <pre id="editor"><%= target %></pre>
  </div>
  <% if (parameterEdit){ %>
  <%-  include('right_pane.ejs'); %>
  <% } %>
</div>
</body>
</html>
