<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/remotehost.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/remotehost.js"></script>
  <title>WHEEL host</title>
</head>

<body>
  <!-- Header -->
  <header>
    <a href="home" id="title">WHEEL</a>
    <span>
      <img src="/image/img_user.png" align="middle" id="iconImg">
      <span id="titleUserName">user01</span>
    </span>
  </header>
  <!-- Page Name Area -->
  <div id="pageNameArea">
    <label id="pageName">Host List</label>
  </div>
  <!-- Change registration contents button "HPC" "Cloud" -->
  <div id="changeRegistrationContentsButtonArea">
    <button id="hpcContentsButton" class="hostType">HPC</button>
    <button id="cloudContentsButton" class="hostType">Cloud</button>
  </div>
  <div id="view">
    <!-- Remote Host List Area -->
    <!-- HPC List Area -->
    <div class="hostListAreaForHpc" id="hostListAreaForHpc">
      <div id="hostTitleAreaForHPC">
        <table id="titleTable">
          <tr>
            <th class="label">Label</th>
            <th class="connectionCheck">Connection Check</th>
            <th class="hostName">Host Name</th>
            <th class="port">Port</th>
            <th class="userID">User ID</th>
            <th class="hostWorkDir">Host Work Dir</th>
            <th class="authType">Auth Type</th>
            <th class="authPath">Auth Path</th>
            <th class="jobScheduler">Job Scheduler</th>
            <th class="jobSubmissionLimit">Max Job</th>
            <th class="queue">Queue</th>
          </tr>
        </table>
      </div>
      <div id="hostPropertyAreaForHPC">
        <table id="propertyTable">
          <template v-for="(host, index) in hostList">
            <tr v-if="!host.hasOwnProperty('type') || host.type === ''" v-bind:key="host.id" v-bind:class="{ 'ui-state-highlight': isSelected(index) }"
              v-on:click="toggleSelected(index)" v-bind:id="host.name" class="hostListInfo">
              <td class="label">
                {{ host.name }}</td>
              <td class="connectionCheck">
                <button v-on:click="test(index)" class="connectionCheckButton">{{ buttonState(index) }}</button>
              </td>
              <td class="hostName">
                {{ host.host }}</td>
              <td class="port">
                {{ host.port }}</td>
              <td class="userID">
                {{ host.username }}</td>
              <td class="hostWorkDir">
                {{ host.path }}</td>
              <td class="authType" id="authTypeLabel">
                <p v-if="host.keyFile === null || host.keyFile === ''" class="authTypeLabel">PW</p>
                <p v-else class="authTypeLabel">Key</p>
              </td>
              <td class="authPath">
                {{ host.keyFile }}</td>
              <td class="jobScheduler">
                {{ host.jobScheduler }}</td>
              <td class="jobSubmissionLimit">
                {{ host.numJob }}</td>
              <td class="queue">
                {{ host.queue }}</td>
            </tr>
          </template>
        </table>
      </div>
    </div>
    <!-- Cloud List Area -->
    <div class="hostListAreaForCloud" id="hostListAreaForCloud">
      <div id="hostTitleAreaForCloud">
        <table id="titleTable">
          <tr>
            <th class="label">Label</th>
            <th class="cloudServiceProvider">Cloud service provider</th>
            <th class="cloudOS">OS</th>
            <th class="region">region</th>
            <th class="numNodes">numNodes</th>
            <th class="instanceType">InstanceType</th>
            <!-- <th class="jobScheduler">Job Scheduler</th>
            <th class="jobSubmissionLimit">Max Job</th>
            <th class="queue">Queue</th> -->
          </tr>
        </table>
      </div>
      <div id="hostPropertyAreaForCloud">
        <table id="propertyTable">
          <template v-if="host.hasOwnProperty('type') && host.type !== ''" v-for="(host, index) in hostList">
            <tr v-bind:key="host.id" v-bind:class="{ 'ui-state-highlight': isSelected(index) }" v-on:click="toggleSelected(index)" v-bind:id="host.name"
              class="hostListInfo">
              <td class="label">
                {{ host.name }}</td>
              <td class="cloudServiceProvider">
                {{ host.type }}</td>
              <td class="cloudOS">
                {{ host.os }}</td>
              <td class="region">
                {{ host.region }}</td>
              <td class="numNodes">
                {{ host.numNodes }}</td>
              <td class="instanceType">
                {{ host.InstanceType }}</td>
              <!-- <td class="jobScheduler">
                {{ host.jobScheduler }}</td>
              <td class="jobSubmissionLimit">
                {{ host.numJob }}</td>
              <td class="queue">
                {{ host.queue }}</td> -->
            </tr>
          </template>
        </table>
      </div>
    </div>
    <!-- Error Message Area -->
    <div v-show="errorMessage != ''" id="errorMessage">{{errorMessage}}</div>
    <!-- Button Area -->
    <div id="buttonArea">
      <button v-on:click="onAddButton" id="newButton">
        <img src="/image/btn_addHost_n.png" id="newButtonImg" />
        <label>New</label>
      </button>
      <button v-on:click="onCopyButton" id="copyButton">
        <img src="/image/btn_hostCopy_n.png" id="copyButtonImg" />
        <label>Copy</label>
      </button>
      <button v-on:click="onRemoveButton" id="deleteButton">
        <img src="/image/btn_hostDelete_n.png" id="deleteButtonImg" />
        <label>Delete</label>
      </button>
    </div>
    <!-- Host Registration Title -->
    <div id="hostRegTitleArea">
      <label id="hostRegTitleLabel">Host Registration</label>
    </div>
    <!-- Confirm Cancel Button Area -->
    <div id="confirmCancelButtonArea">
      <button v-on:click="onEditAreaOKButton" v-bind:disabled="hasError" id="confirmButton">Confirm</button>
      <button v-on:click="onEditAreaCancelButton" id="cancelButton">Cancel</button>
    </div>
    <!-- New Remote Host Registration -->
    <!-- HPC Registration Area -->
    <div class="hostRegFormAreaForHPC">
      <div id="leftFormArea">
        <div>
          <span>
            <label id="hostLabel">Label</label>
          </span>
          <input id="hostLabelInputArea" type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.name" v-bind:class="{'ui-state-error': !validation.name || isDuplicate}">
          <p v-if="isDuplicate" class="dialogStateError">duplicated label.</p>
        </div>
        <div>
          <span>
            <label id="hostConectionCheckButton">Connection Check</label>
          </span>
          <button v-on:click="test(-1)" class="connectionCheckButton">{{ buttonState(-1) }}</button>
        </div>
        <div>
          <span>
            <label id="hostName">Host Name</label>
          </span>
          <input id="hostNameInputArea" type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.host" v-bind:class="{'ui-state-error': !validation.host}">
        </div>
        <div>
          <span>
            <label id="hostPort">Port</label>
          </span>
          <input type="number" v-model.number="newHostInfo.port">
        </div>
        <div>
          <span>
            <label id="hostUserID">User ID</label>
          </span>
          <input id="hostUserIDInputArea" type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.username"
            v-bind:class="{'ui-state-error': !validation.username}">
        </div>
        <div>
          <span>
            <label id="hostWorkDir">Host Work Dir</label>
          </span>
          <input id="hostWorkDirInputArea" type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.path">
        </div>
      </div>
      <div id="centerFormArea">
        <div>
          <label id="hostAuthType">Auth Type</label>
          <span id="radioButtonArea">
            <input type="radio" name="authType" v-model="authType" value="1">
            <span>
              <label>Password</label>
            </span>
            <input type="radio" name="authType" v-model="authType" value="2">
            <span>
              <label>Private Key</label>
            </span>
          </span>
        </div>
        <div v-show="authType === '2'">
          <span>
            <label id="hostKeyFile">KeyFile</label>
          </span>
          <input type="text" v-model="newHostInfo.keyFile" disabled id="keyfilePath">
          <button v-on:click="browse" id="browseButton">Browse</button>
        </div>
        <div>
          <span>
            <label id="hostJobScheduler">Job Scheduler</label>
          </span>
          <input type="text" v-model.lazy.trim="newHostInfo.jobScheduler">
        </div>
        <div>
          <span>
            <label id="hostMaxJob">Max Job</label>
          </span>
          <input type="number" v-model.number="newHostInfo.numJob">
        </div>
        <div>
          <span>
            <label id="hostQueue">Queue</label>
          </span>
          <input id="hostQueueInputArea" type="text" v-model.lazy="newHostInfo.queue">
        </div>
      </div>
      <div id="rightFormArea">
        <div>
          <span>
            <label id="hostConnectionRenewalInterval">connection renewal interval(min.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.renewInterval">
        </div>
        <div>
          <span>
            <label id="hostConnectionRenewalDelay">connection renewal delay(sec.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.renewDelay">
        </div>
        <div>
          <span>
            <label id="hostStatusCheckInterval">status check interval(sec.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.statusCheckInterval">
        </div>
        <div>
          <span>
            <label id="hostMaxStatusCheckError">max status check error</label>
          </span>
          <input type="text" v-model.number="newHostInfo.maxStatusCheckError">
        </div>
      </div>
    </div>
    <!-- Cloud Registration Area -->
    <div class="hostRegFormAreaForCloud">
      <div id="leftFormArea">
        <div>
          <span>
            <label id="cloudLabel">Label</label>
          </span>
          <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.name" v-bind:class="{'ui-state-error': !validation.name || isDuplicate}">
          <p v-if="isDuplicate" class="dialogStateError">duplicated label.</p>
        </div>
        <div>
          <span>
            <label id="cloudServiceProvider">Cloud service provider</label>
          </span>
          <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.type">
        </div>
        <div>
          <span>
            <label id="cloudOS">OS</label>
          </span>
          <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.os">
        </div>
        <div>
          <span>
            <label id="cloudRegion">region</label>
          </span>
          <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.region">
        </div>
        <div>
          <span>
            <label id="cloudNumNodes">numNodes</label>
          </span>
          <input type="number" placeholder="empty is not allowed." v-model.lazy.number.trim="newHostInfo.numNodes">
        </div>
        <div>
          <span>
            <label id="cloudInstanceType">InstanceType</label>
          </span>
          <input type="text" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.InstanceType">
        </div>
        <div>
          <span>
            <label id="cloudRootVolume">rootVolume</label>
          </span>
          <input type="number" placeholder="empty is not allowed." v-model.lazy.number.trim="newHostInfo.rootVolume">
        </div>
        <div>
          <span>
            <label id="cloudShareStorage">shareStorage</label>
          </span>
          <input type="checkbox" placeholder="empty is not allowed." v-model.lazy.trim="newHostInfo.shareStorage">
        </div>
      </div>
      <div id="centerFormArea">
        <div>
          <span>
            <label id="cloudMpi">mpi</label>
          </span>
          <input type="text" v-model.lazy.trim="newHostInfo.mpi">
        </div>
        <div>
          <span>
            <label id="cloudCompiler">compiler</label>
          </span>
          <input type="text" v-model.lazy.trim="newHostInfo.compiler">
        </div>
        <div>
          <span>
            <label id="cloudPlaybook">playbook</label>
          </span>
          <textarea v-model.lazy.trim="newHostInfo.playbook"></textarea>
        </div>
        <div>
          <span>
            <label id="cloudAdditionalParams">additionalParams</label>
          </span>
          <textarea v-model.lazy.trim="newHostInfo.additionalParams"></textarea>
        </div>
        <div>
          <span>
            <label id="cloudAdditionalParamsForHead">additionalParamsForHead</label>
          </span>
          <textarea v-model.lazy.trim="newHostInfo.additionalParamsForHead"></textarea>
        </div>
      </div>
      <div id="rightFormArea">
        <div>
          <span>
            <label id="cloudJobScheduler">Job Scheduler</label>
          </span>
          <input type="text" v-model.lazy.trim="newHostInfo.jobScheduler">
        </div>
        <div>
          <span>
            <label id="cloudMaxjob">Max Job</label>
          </span>
          <input type="number" v-model.number="newHostInfo.numJob">
        </div>
        <div>
          <span>
            <label id="cloudQueue">Queue</label>
          </span>
          <input type="text" v-model.lazy="newHostInfo.queue">
        </div>
        <div>
          <span>
            <label id="cloudConnectionRenewalInterval">connection renewal interval(min.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.renewInterval">
        </div>
        <div>
          <span>
            <label id="cloudConnectionRenewalDelay">connection renewal delay(sec.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.renewDelay">
        </div>
        <div>
          <span>
            <label id="cloudStatusCheckInterval">status check interval(sec.)</label>
          </span>
          <input type="text" v-model.number="newHostInfo.statusCheckInterval">
        </div>
        <div>
          <span>
            <label id="cloudMaxStatusCheckError">max status check error</label>
          </span>
          <input type="text" v-model.number="newHostInfo.maxStatusCheckError">
        </div>
      </div>
    </div>
    <!-- delete host, SSH connection, fileBrowse dialog -->
    <div id="dialog"></div>
  </div>
</body>

</html>