<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css" />

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/remotehost.js"></script>
    <title>Scientific Workflow</title>
</head>

<body>
    <header>
        <a href="/swf/home.html">Scientific Workflow</a>
    </header>
    <div class="subtitle">Register Host</div>

    <div class="register_host_area sub_content_area">
        <div class="host_container">
            <div class="text_container">
                <label class="text_label">Label</label>
                <input type="text" id="text_label" class="remotehost_text text_box">
            </div>
            <div class="text_container">
                <label class="text_label">Host</label>
                <input type="text" id="text_host" class="remotehost_text text_box">
            </div>
            <div class="text_container">
                <label class="text_label">ID</label>
                <input type="text" id="text_id" class="remotehost_text text_box">
            </div>
        </div>
        <div class="host_container">
            <div class="text_container">
                <label class="text_label">Path</label>
                <input type="text" id="text_path" class="remotehost_text text_box">
            </div>
        </div>

        <div class="auth_type_area">
            <div>Auth Type</div>
            <div class="auth_type_radio_container">
                <div>
                    <input type="radio" name="authtype" class="auth_type_radio" id="authtype_password">
                    <label class="text_label">Password</label>
                </div>
                <div id="sshkey_area">
                    <input type="radio" name="authtype" class="auth_type_radio" id="authtype_sshkey" checked>
                    <label class="text_label">Key File</label>
                    <input type="text" id="sshkey_address" class="remotehost_text text_box">
                    <button type="button" class="button" id="browse_button">Browse...</button>
                </div>
            </div>
        </div>

        <button type="button" class="button" id="add_host_button">Add</button>
        <div id="add_error_area"></div>

        <div class="register_list_area sub_content_area">
            <table id="host_table">
            </table>
        </div>
    </div>

    <div class="gray_panel" id="gray_panel"></div>
    <div class="file_dialog_area dialog_area" id="dialog_area_browse">
        <div class="address_bar_area">
            <img src="/image/icon_dir.png" class="dir_icon">
            <input type="text" id="address_bar" class="address_bar text_box">
        </div>
        <div class="file_dialog" id="file_dialog">
        </div>

        <div class="address_bar_area">
            <span>key file</span>
            <input type="text" id="input_text_browse" class="dialog_text_box text_box">
        </div>
        <div class="dialog_button_container">
            <button type="button" class="dialog_button button" id="dialog_ok_button_browse">OK</button>
            <button type="button" class="dialog_button button" id="dialog_cancel_button_browse">Cancel</button>
        </div>
    </div>

    <div class="file_dialog_area dialog_area" id="dialog_area_yesno">
    </div>
</body>

</html>
