<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/viewer.css" />
  <!-- <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/workflow.js"></script>
  <script type="text/javascript" src="/js/viewer.js"></script> -->
  <title>WHEEL viewer</title>
</head>

<body>
  <header>
    <label id="title">WHEEL</label>
  </header>
  <div id="pageNameArea">
    <label id="pageName">image list</label>
  </div>
  <ul id="viewerImages"></ul>
</body>

</html>